@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Geral */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    
    background-color: lightgray;
    background-image: url('../img/archives/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    font-family: 'Courier Prime', monospace !important;
}

#notification{
    position: fixed;
    right: 5px;
    bottom: 5px;
}

#notification img{
    width: 10%;
}

/*Menu*/
.menu-bar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: rgb(37, 37, 37);

    color: rgb(204, 204, 204);

    display: flex;
    font-size: 3.5vh;
}

.menu-bar i:hover{
    color: aqua;
}

.menu-bar #search-button{
    position: absolute;
    left: 0;
    padding: 5px;
}

.menu-bar #extensions {
    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-direction: row;

    position: absolute;
    right: 0px;
    padding: 5px;
}

.menu-bar #extensions #time-now {
    font-size: 2vh;
}

.menu-bar #extensions #time-now #now {
    padding: 0;
    margin-bottom: -.65vw;
    text-align: center;
}

.menu-bar #extensions #time-now #today {
    text-align: center;
}

#volume-control {
    transform: rotate(-90deg);
    background-color: rgb(43, 43, 43);
    position: absolute;
    right: -1vw;
    bottom: 11vh;
    z-index: 999;

    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#MenuDisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}

#MenuDisplay #MenuDisplay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#MenuDisplay #MenuDisplay-content .MenuDisplay-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#MenuDisplay #MenuDisplay-content .MenuDisplay-items .MenuDisplay-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 10vw;
    height: 10vw;
    font-size: 2.5vh;

    background-color: transparent;
    border-style: solid;
    border-width: .1vw;
    border-color: darkgray;
    color: darkgrey;
    border-radius: .5vw;

    cursor: pointer;
}

#MenuDisplay #MenuDisplay-content .MenuDisplay-items .MenuDisplay-item:hover {
    background-color: rgb(20, 20, 20);
    color: lightgray;
}